In [1]:
import pandas as pd
import numpy as np

In [2]:
#read the data  
df = pd.read_csv('car_age_price.csv')

In [3]:
df.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [5]:
df.shape

(112, 2)

From the info of the data we can see that there is no null values

In [6]:
df.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [7]:
df["Year"].value_counts()

2017    47
2015    22
2019    12
2018    11
2016     6
2014     6
2020     4
2013     4
Name: Year, dtype: int64

In [8]:
#drop the duplicate values from the data
df.drop_duplicates(inplace=True)

In [9]:
df.shape

(58, 2)

To build a linear regression model between 'year' and 'price'

In [10]:
#split the data into train and test data
from sklearn.model_selection import train_test_split
df_train,df_test=train_test_split(df,random_state=1,test_size=0.25)

In [11]:
#import the linear regression package
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [12]:
#x,y split in test and train set
x_train = df_train.drop(['Price'],axis=1)
y_train =df_train['Price']
x_test = df_test.drop(['Price'],axis = 1)
y_test = df_test['Price']

In [13]:
#build the linear regression model and predict using test set
model=lr.fit(x_train,y_train)
predict_values=model.predict(x_test)

In [14]:
#calculate the  MSE and R-squared value
from sklearn.metrics import mean_squared_error,r2_score
print("Mean Squared Error is ",mean_squared_error(y_test,predict_values))
print("R Squared Error is ",r2_score(y_test,predict_values))

Mean Squared Error is  3280357713.049173
R Squared Error is  0.7472413665846841

To build a lasso regression model

In [15]:
#build the model using train set and predict using test set 
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=0.1)
model1=lasso.fit(x_train,y_train)
predict_values1=model1.predict(x_test)

In [16]:
print("Mean Squared Error is ",mean_squared_error(y_test,predict_values1))
print("R Squared Error is ",r2_score(y_test,predict_values1))

Mean Squared Error is  3280358827.175652
R Squared Error is  0.7472412807388371

Predict the price of the year 2022

In [17]:
x=pd.DataFrame({'Year':[2022]})
predict=model.predict(x)

In [18]:
np.round(predict,2)

array([711604.16])