In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
#Loading data 
data= pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [6]:
data.shape

(22, 5)

1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

Hypothesis is given as :
Ho:The sales before and after stepping into digital marketing are same
Ha:The sales after stepping into digital marketing have increased.

In [7]:
sales_B=data['Sales_before_digital_add(in $)']
sales_A=data['Sales_After_digital_add(in $)']

In [8]:
t_val,p_val = stats.ttest_rel(sales_A,sales_B)
print('t-value is:',t_val)
print('p-value is:',p_val)

t-value is: 12.09070525287017
p-value is: 6.336667004575778e-11

The Null hypothesis is rejected since the p value is less than 0.05, that is the alternative hypothesis is accepted. Thus the sales have increased after after introducing digital marketing.

2.The company needs to check whether there is any dependency between the features “Region” and “Manager”.

Hypothesis is given by:
Ho : The 2 features “Region” and “Manager” are independent.
Ha : The 2 features are dependent.

In [9]:
cross_tab = pd.crosstab(data['Region'], data['Manager'], normalize='index')
cross_tab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A     0.400000     0.300000     0.300000
Region - B     0.571429     0.142857     0.285714
Region - C     0.200000     0.600000     0.200000

In [10]:
from scipy.stats import chi2_contingency
c, p, dof, expected = chi2_contingency(cross_tab)
print('chi square statistic:',c)
print('pvalue:',p)
print('degrees of freedom:',dof)

chi square statistic: 0.5097129666190809
pvalue: 0.9725485584250712
degrees of freedom: 4

Since p-value greater than 0.05,we cannot reject null hypothesis ie the variables 'region' and 'manager' are independent. Also critical value for degree of freedom 4 and level of significance 0.05 = 9.488.chi-square statistic less than critical value,so we cannot reject null hypothesis. Therefore there is no dependence between the given variables